/*Global*/
* {
	font-family: 'Fira Sans', sans-serif;
}

body, html {
	background: rgb(245, 245, 245);
}

a {
	cursor: pointer;
	text-decoration: none;
}

div.content {
	height: 100%;
	width: 100%;
	position:relative;
	z-index: 0;
}

/*Main*/
header div.content canvas#blurCanvas {
	height: 0;
}

/*Header*/
header div.content canvas#particles {
	width: 100%;
 	height: 100%;
 	left:0%;
	top:0%;
	position:absolute;
	z-index: -1;
}

/*Header*/
header div.content {
	background-image: linear-gradient(180deg , #F6FDFF, rgb(245, 245, 245))
}

header .hero, .newsletterform {
	width: 80%;
}

header .hero h1 {
	color: rgba(74, 74, 74, 1);
}

header .hero p {
	color: rgba(74, 74, 74, .8);
	font-size: 1.2rem;
	line-height: 1.6rem;
	font-weight: 300;
	letter-spacing: .02rem;
}

header nav ul {
	list-style-type: none;
	padding: 0;
	transition: all 1s ease;
}

header nav ul li {
	margin: 1rem auto;
	padding: 1rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

header nav ul li a {
	letter-spacing: .1rem;
}

header nav ul li:not(.subscribebtn) a {
	color: #1CA8D3;
	transition: all .5s ease;
	text-transform: uppercase;
	position: relative;
}

/*Subscribe button in navigation*/
header nav ul li.subscribebtn {
	margin: .5rem 0;
}

header nav ul li.subscribebtn a svg{
	margin-right: .4rem;
}

header nav ul li.subscribebtn a {
	white-space: nowrap;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 4rem;
	width: 60%;
	padding: 0 2rem;
	box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
	background-image: linear-gradient(to right, #1CA8D3, #00BCD4);
	border-radius: 5px;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	color: #fff;
	webkit-transition: all .2s ease;
	transition: all .2s ease;
}

header nav ul li.subscribebtn a:hover {
	transform: translateY(-1px);
	background-image: linear-gradient(to right, #00BCD4, #1CA8D3);
	box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

header nav ul li.subscribebtn a:active {
	color: #1CA8D3;
	background-image: linear-gradient(to right, #f6f9ff, #f6f9ff);
	transform: translateY(1px);
	box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

/*Navigation Link Hover Effect*/
header nav ul li:not(.subscribebtn) a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: .2rem;
	bottom: -.4rem;
	left: 0;
	background-color: #1CA8D3;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

header nav ul li a:hover:before {
	visibility: visible;
	webkit-transform: scaleX(1);
	transform: scaleX(1);
}

/*Logo Type*/
header a .logotype {
	text-transform: uppercase;
	color: #1CA8D3;
	align-items: center;
	font-weight: 700;
	font-size: 1.4rem;
	letter-spacing: .1rem;
	margin-top: 1.6rem;
}

/*Hero*/
header .hero {
	margin: 1rem auto;
}

/*Newsletter*/
header .newsletter {
	margin-bottom: 4rem;
}

header .newsletter .newsletterform .newsletterfields h2 {
	color: #3DC2E7;
	letter-spacing: .01rem;
}

header .newsletter .newsletterform .newsletterfields input[type="email"].email {
	text-align: center;
	color: rgba(74, 74, 74, .8);
	line-height: 1.6rem;
	font-weight: 300;
	letter-spacing: .02rem;
	font-size: 1.2rem;
	background-color: rgba(0, 0, 0, 0);
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: .2rem #3DC2E7 solid;
	width: 80%;
	height: 3rem;
}

header .newsletter .newsletterform .newsletterfields input[type="email"].email:focus {
	outline: none;
}

header .newsletter .newsletterform .newsletterfields button[type="submit"].button {
	margin-top: 1rem;
	border: none;
	cursor: pointer;
	text-align: center;
	color: #FFF;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	height: 4rem;
	width: 4rem;
	box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
	background-image: linear-gradient(to right, #1CA8D3, #00BCD4);
	webkit-transition: all .2s ease;
	transition: all .2s ease;
}

header .newsletter .newsletterform .newsletterfields button[type="submit"].button:hover {
	background-image: linear-gradient(to right, #00BCD4, #1CA8D3);
	box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

/*sm*/
@media only screen and (min-width: 48em) {

	header a .logotype {
		margin-top: 0;
	}

	header nav ul{
		margin-top: 2rem;
	}

	header nav ul li {
		padding: 0;
	}

	/*Hero*/
	header .hero {
		margin: 2rem auto;
	}

	header nav ul li.subscribebtn a {
		height: 2.4rem;
		margin-left: 2rem;
	}

	header .newsletter .newsletterform .newsletterfields input[type="email"].email {
		width: 60%;
	}
}

/*md*/
@media only screen and (min-width: 64em) {

	header nav ul li.subscribebtn a {
		width: 100%;
		height: 2.4rem;
	}

	header .newsletter .newsletterform .newsletterfields input[type="email"].email {
		width: 40%;
	}
}


/*lg*/
@media only screen and (min-width: 75em) {

	header nav ul{
		margin-top: 1rem;
	}

	/*Layout*/
	header div.content .container {
		max-width: 110rem;
	}

	main div.content .container {
		max-width: 60rem;
	}

	header .hero{
		width: 50%;
	}

}