<!-- Canvas -->
<script src='assets/js/canvas.js'></script>
<!-- Google Analytics with Autotrack -->
{{ with .Site.GoogleAnalytics }}
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', '{{ . }}', 'auto');

ga('require', 'eventTracker');
ga('require', 'outboundLinkTracker');
ga('require', 'urlChangeTracker');

ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<script async src='assets/js/autotrack.js'></script>
{{ end }}

</body>
</html>
