<div class="container-fluid">
	<header>
		<section class="row
						middle-xs
						center-xs">
			<!-- Logo -->
			<div class="col-xs-12
                		col-lg-2">
				<svg width="63px" height="63px" viewBox="-2 -2 63 63" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<desc>Indie Academy Logo</desc>
					<defs></defs>
					<g id="logo" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<path d="M29.5,59 C45.7924009,59 59,45.7924009 59,29.5 C59,13.2075991 45.7924009,0 29.5,0 C13.2075991,0 0,13.2075991 0,29.5 C0,45.7924009 13.2075991,59 29.5,59 Z" id="bg" stroke="#1CA8D3" stroke-width="3" fill="#F9F9F9"></path>
						<text id="iA" font-family="AvenirNext-Bold, Avenir Next" font-size="36" font-weight="bold" fill="#1CA8D3">
							<tspan x="11" y="41">iA</tspan>
						</text>
					</g>
				</svg>
			</div>
			<!-- Navigation -->
			<div class="col-xs-12
						col-md-10
						col-lg-offset-2
						col-lg-8">
				<nav>
					<ul class="row around-xs between-xs">
						{{ range .Site.Menus.main }}
						{{ if .HasChildren }}
						<li class="col-xs-12 col-lg">
							<a href="#">{{ .Name }}<span></span></a>
							<ul>
								{{ range .Children }}
								<li><a href="{{ .URL | relLangURL }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}><span>{{ .Name }}</span></a></li>
								{{ end }}
							</ul>
						</li>
						{{ else }}
						<li class="col-xs-12 col-sm col-md col-lg"><a href="{{ .URL | relLangURL }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}><span>{{ .Name }}</span></a>
						</li>
						{{ end }}
						{{ end }}
					</ul>
				</nav>
			</div>
		</section>
	</header>