/*Newsletter*/
header .newsletter .newsletterform .newsletterfields,
header .newslettermodal .newsletterform .newsletterfields,
footer .newsletter .newsletterform .newsletterfields {
	position: relative;
}

footer .newsletter .newsletterform {
	margin-bottom: 6rem;
}

header .newsletter .newsletterform h2,
header .newslettermodal .newsletterform h2 {
	color: #3DC2E7;
	letter-spacing: .01rem;
}

footer .newsletter .newsletterform h2 {
	color: rgba(255,255,255,.9);
	letter-spacing: .01rem;
}

header .newslettermodal .newsletterform {
	padding-top: 1.8rem;
	padding-bottom: 3rem;
}

/*Email Input*/
header .newsletter .newsletterform .newsletterfields input[type="email"].email,
header .newslettermodal .newsletterform .newsletterfields input[type="email"].email,
footer .newsletter .newsletterform .newsletterfields input[type="email"].email {
	color: rgba(52, 73, 94, .8);
	font-weight: 600;
	letter-spacing: .02rem;
	font-size: 1.2rem;
	line-height: 1.2rem;
	background-color: rgba(0, 0, 0, 0);
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: .2rem #3DC2E7 solid;
	height: 4rem;
	padding-top: .8rem;
	padding-left: 11rem;
	transition: all .4s ease;
	z-index: 2;
}

footer .newsletter .newsletterform .newsletterfields input[type="email"].email {
	border-bottom: .2rem rgba(255,255,255,.8) solid;
}

header .newsletter .newsletterform .newsletterfields input[type="email"].email:focus,
header .newslettermodal .newsletterform .newsletterfields input[type="email"].email:focus,
footer .newsletter .newsletterform .newsletterfields input[type="email"].email:focus {
	outline: none;
	box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
	padding-left: 1rem;
}

header .newsletter .newsletterform .newsletterfields input[type="email"].email:focus~button[type="submit"].button,
header .newslettermodal .newsletterform .newsletterfields input[type="email"].email:focus~button[type="submit"].button,
footer .newsletter .newsletterform .newsletterfields input[type="email"].email:focus~button[type="submit"].button {
	box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

/*Email Label*/
header .newsletter .newsletterform .newsletterfields label.emaillabel,
header .newslettermodal .newsletterform .newsletterfields label.emaillabel,
footer .newsletter .newsletterform .newsletterfields label.emaillabel {
	position: absolute;
	top: 1.6rem;
	left: .4rem;
	font-weight: 300;
	letter-spacing: .02rem;
	font-size: 1.2rem;
	line-height: 1.2rem;
	text-align: center;
	color: rgba(74, 74, 74, .8);
	transition: all 0.5s ease;
	animation: type 8s steps(36) infinite, blink .8s infinite;
	overflow: hidden;
	-webkit-overflow-scrolling:touch;
	white-space: nowrap;
	border-right: 2px solid #e1ecf4;
	z-index: 1;
}

footer .newsletter .newsletterform .newsletterfields label.emaillabel {
	color: rgba(255, 255, 255, .8);
}

header .newsletter .newsletterform .newsletterfields input[type="email"].email:focus~label.emaillabel,
header .newslettermodal .newsletterform .newsletterfields input[type="email"].email:focus~label.emaillabel,
footer .newsletter .newsletterform .newsletterfields input[type="email"].email:focus~label.emaillabel {
	color: rgba(74, 74, 74, .4);
	top: .4rem;
	font-size: .8rem;
	line-height: .8rem;
	animation: none;
	border: none;
}

footer .newsletter .newsletterform .newsletterfields input[type="email"].email:focus~label.emaillabel {
	color: rgba(255, 255, 255, .4);
}

header .newsletter .newsletterform .newsletterfields button[type="submit"].button,
header .newslettermodal .newsletterform .newsletterfields button[type="submit"].button,
footer .newsletter .newsletterform .newsletterfields button[type="submit"].button {
	margin-top: 1rem;
	border: none;
	cursor: pointer;
	text-align: center;
	color: #FFF;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	height: 4rem;
	width: 4rem;
	background-image: linear-gradient(to right, #3DC2E7, #1CA8D3);
	transition: all .2s ease;
}

footer .newsletter .newsletterform .newsletterfields button[type="submit"].button {
	background: rgba(255,255,255,.8);
	box-shadow: none;
}

header .newsletter .newsletterform .newsletterfields button[type="submit"].button svg,
header .newslettermodal .newsletterform .newsletterfields button[type="submit"].button svg,
footer .newsletter .newsletterform .newsletterfields button[type="submit"].button svg {
	transition: all .2s ease;
}

header .newsletter .newsletterform .newsletterfields button[type="submit"].button:hover svg,
header .newslettermodal .newsletterform .newsletterfields button[type="submit"].button:hover svg,
footer .newsletter .newsletterform .newsletterfields button[type="submit"].button:hover svg {
	transform: scale(1.05);
}

/*Newsletter Modal*/
aside.modalNewsletter {
	position: fixed;
	left: 0;
	background: rgba(255,255,255, 0.9);
	width: 100vw;
	height: 100vh;
	opacity: 0;
	-webkit-transition: opacity  0.4s ease;
	transition: opacity 0.4s ease;
	z-index: -1;
}

aside.modalNewsletter .modalContainer {
	left: 0;
	position: fixed;
	-webkit-transition: top  0.4s ease;
	transition: top 0.4s ease;
	background-image: linear-gradient(180deg , #F6FDFF, rgb(250, 254, 255));
	box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
	z-index: -1;
}

aside.modalNewsletter a.bgclose {
	cursor: default;
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

aside.modalNewsletter:target {
	opacity: 1;
	top: 0;
}

aside.modalNewsletter:target {
	z-index: 5;
}
aside.modalNewsletter:target .modalContainer {
	top: 25vh;
	-webkit-transition: top  0.6s ease;
	transition: top 0.6s ease;
}

aside.modalNewsletter .modalContainer .close {
	position: absolute;
	top: 0.3rem;
	right: 0.3rem;
	width: 50px;
	height: 50px;
	overflow: hidden;
}

aside.modalNewsletter .close:hover::before,
aside.modalNewsletter .close:hover::after {
	background: #1CA8D3;
}

aside.modalNewsletter .close:hover::before {
	webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}

aside.modalNewsletter .close:hover::after {
	webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

aside.modalNewsletter .close::before, .close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	background: rgba(52, 73, 94, 1);
	border-radius: 100%;
	height: 12px;
	margin-top: -6px;
	webkit-transition: -webkit-transform .4s ease-in-out;
	transition: transform .4s ease-in-out;
}
aside.modalNewsletter .close::before {
	webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
aside.modalNewsletter .close::after {
	webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}